<!DOCTYPE html>
<html>
<head>
	<title>Create Member</title>
</head>
<body>
	<form method="post">
		
    </form>
    <a href="/login">LogIn As Admin</a> |
    <a href="/register">Register As Member</a>
	
</body>
</html>