<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
	
</head>
<body>
	

	<a href="/user/create">Add Car</a> | 
	<a href="/home/carlist">Car list</a> |
	<a href="/home/userlist">Member list</a> | 
	
	<a href="/logout">logout</a> 

</body>
</html>